:root {
  --primary: #292929;

  --marginBottom: 30px;
}

body {
  margin: 0;
  background-color: var(--primary);
  color: #f4f4f4;
  font-family:sans-serif;
  text-align: center;
  margin: 5%;
  font-size: 14pt;
}

h1 {
  font-size:30pt;
  margin-bottom: 30px;
}

div.quote {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

/* --------------------
        QUOTE
-------------------- */
div.quote p {
  font-size: 12pt;
  font-style: italic;
  color: rgba(255, 255, 255, 0.5);
  margin: var(--marginBottom) 0 var(--marginBottom) 0;
}

  div.quote p b {
    color: rgba(255, 255, 255, 0.8);
  }

  div.quote span {
    color: rgba(255, 255, 255, 0.7);
  }

button {
  -webkit-appearance: none;
  padding: 4% 10% 4% 10%;
  border: 0;
  color: var(--primary);
  margin-bottom: var(--marginBottom);
  text-decoration: bold;
  font-size: 16pt;
}

ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

  ul > li {
    background: rgba(255, 255, 255, 0.02);
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 10px;
    padding: 5% 2% 5% 2%;
  }

ul li:first-child {
  background: rgba(255, 255, 255, 0.15);
  color: rgba(255, 255, 255, 1);
}

ul li:last-child {
  margin-bottom: var(--marginBottom);
}